
.container {
  max-width: 1280px;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 1rem;
}

.filters input,
.filters select {
  padding: 6px 10px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.grid {
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  margin-bottom: 1rem;
  
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #61dafb;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.pagination button:hover {
  background-color: #21a1f1;
}

/* Responsive for mobile */
@media (max-width: 600px) {
  .filters {
    flex-direction: column;
    align-items: stretch;
  }

  .filters input,
  .filters select {
    width: 100%;
  }
}
